/simulation_model*/results*/
/simulation_model*/raw_results/
/simulation_model*/data/
/simulation_model*/scripts/
/datasets/
/datasets_full/
/processed_data__single_cell_net/
/pysinglecellnet_dir/
/src/
/tests_real_data/figures_for_paper/
/tests_real_data/merged_dataset_results/
/tests_real_data/processed_results/
/tests_real_data/processing_results/bash_scripts/scripts_results/
/tests_real_data/results/
/tests_real_data/scripts/scripts/
/tests_real_data/scripts/preprocess_data_single_cell_net/
/utilities/__pycache__/
/utilities/optirank/src/BCD/prox/sum_gamma_fixed/build/
/utilities/optirank/src/BCD/prox/sum_gamma_fixed/cum_sum_until.c
/utilities/optirank/src/BCD/prox/sum_gamma_fixed/cum_sum_until.cpython-38-darwin.so
**/__pycache__/
**/*.DS_Store
**/*.pkl
**/*.pdf
